html {
  background: #000000;
  height: 99%;
  margin: 8px;
  overflow: auto;
  padding: 0;
}

.app {
  align-items: center;
  color : #fff;
  display: flex;
  font-family: 'Lora', serif;
  font-size: calc(1vmin);
  justify-content: center;
  text-align: center;
}

.app-header {
  color : #fff;
  font-family: 'Lora', serif;
  font-size: calc(10px + 2vmin);
  min-height: 5vh;
  text-align: center;
}

.square {
  align-items: center;
  background-color: #fff;
  border: 0;
  border-radius: 8px;
  display: flex;
  float: left;
  height: 250px;
  justify-content: center;
  margin: 10px;
  overflow: hidden;
  transition-duration: 0.2s;
  width: 250px;
}

.square:hover {
  transform: scale(1.1);
}

.grid:after {
  clear: both;
  content: "";
  display: table;
}

img {
  height: 100%;
  margin: 0;
  padding: 0;
}

.square:hover img{
  filter: blur(2px) brightness(115%);
  transform: scale(1.1);
}

.centered{
  color: #24f2ca;
  font-family: 'Recursive', sans-serif;
  font-size: calc(2vmin);
  left: 50%;
  position: absolute;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.square:hover .centered{
  visibility: visible;
}
